<!-- Titre de la page -->
   <!-- component -->
<!-- 
    FAQ - Frequently Asked Questions TailwindCSS Component
    with <details> and <summary> tag with custom [open] animation.
    Created by Surjith S M (@surjithctly)
    See more components: https://web3components.dev 
-->
<br>
<br>
<div class="max-w-screen-sm mx-auto px-2 bg-white ">
	<div class="flex flex-col items-center">
		<h2 class="font-bold text-5xl mt-5 tracking-tight">
			FAQ
		</h2>
		<p class="text-block text-xl mt-3">
			Frequenty asked questions
		</p>
	</div>
	<div class="grid divide-y divide-blue-800 max-w-xl mx-auto mt-8">
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> Notre mission</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-900 mt-3 group-open:animate-fadeIn">
					"Notre mission est de connecter les étudiants et les jeunes professionnels avec
					 des opportunités de stage passionnantes et enrichissantes dans divers domaines.
					  Nous sommes passionnés par le développement des compétences professionnelles et la promotion de la réussite des candidats dans leurs parcours professionnels."
				</p>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> Une plateforme facile à utiliser</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-900 mt-3 group-open:animate-fadeIn">
					"Nous comprenons que trouver le bon stage peut être un défi, c'est pourquoi nous avons créé 
					une plateforme facile à utiliser qui vous permet de trouver des offres de stage en fonction
					 de vos critères de recherche. Nous mettons également l'accent sur la transparence en 
					 fournissant des descriptions détaillées du stage, 
					ainsi que des informations sur la durée, la rémunération et les avantages."
				</p>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> Transparence dans les offres de stage</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-900 mt-3 group-open:animate-fadeIn">
					"Chez INTERNY, nous croyons que la transparence est essentielle pour offrir une expérience
					 de postulation de qualité. Nous sommes fiers de fournir des offres de stage transparentes et 
					 complètes pour vous aider à prendre des décisions éclairées
					 sur les opportunités de stage qui correspondent à vos intérêts et à vos objectifs professionnels.
				</p>
				<p class="text-neutral-900 mt-3 group-open:animate-fadeIn">
Nous travaillons en étroite collaboration avec les entreprises pour nous assurer que chaque offre de
 stage fournit des informations complètes sur le poste, les tâches et les responsabilités, 
 les qualifications requises et les compétences souhaitées, la durée, la rémunération et les avantages."
				</p>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> Une expérience de postulation transparente et équitable</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-900 mt-3 group-open:animate-fadeIn">
				"Nous croyons fermement en l'importance d'une expérience de postulation transparente et équitable
				 pour tous les candidats. Nous nous engageons à offrir une plateforme de postulation simple 
				 et conviviale pour vous permettre de postuler facilement à des offres de stage qui répondent à vos critères de recherche.
				</p>
					<p class="text-neutral-900 mt-3 group-open:animate-fadeIn">
						Nous nous efforçons également d'être transparents dans toutes nos communications avec 
						les candidats. Nous fournissons des informations détaillées sur chaque offre de stage, 
						notamment la description du poste, la durée, la rémunération et les avantages. Nous sommes également disponibles pour 
						répondre à toutes vos questions et préoccupations tout au long du processus de postulation.
					</p>
						<p class="text-neutral-900 mt-3 group-open:animate-fadeIn">
							Nous croyons également en l'équité dans le processus de postulation. Nous examinons chaque candidature de manière équitable et impartiale, en évaluant les compétences, les qualifications et l'expérience de chaque candidat. Nous ne tolérons aucune forme de discrimination dans notre processus de sélection."
						</p>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> Notre engagement en faveur des stages</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-900 mt-3 group-open:animate-fadeIn">
					"Nous sommes convaincus que les stages sont un élément essentiel de l'apprentissage professionnel 
					et de la croissance personnelle. Les stages offrent aux étudiants et aux jeunes professionnels
					 l'opportunité de mettre en pratique leurs compétences théoriques, d'acquérir une expérience pratique dans leur domaine d'intérêt, 
					de découvrir de nouveaux domaines et de se connecter avec des professionnels de leur secteur.
						</p>
						<p class="text-neutral-900 mt-3 group-open:animate-fadeIn">
							Nous nous engageons à offrir des stages de qualité et enrichissants qui permettent aux candidats de développer des compétences clés pour réussir dans leur carrière. Nous nous engageons également à fournir des offres de stage dans une variété de domaines pour offrir à nos candidats une expérience variée et diversifiée."
						</p>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span>Notre équipe</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-900 mt-3 group-open:animate-fadeIn">
				"Notre équipe est composée de professionnels passionnés et expérimentés qui travaillent dur pour
				 offrir une expérience de postulation de qualité pour tous les candidats. Nous sommes fiers de
				  fournir un service personnalisé pour chaque candidat, en fournissant des conseils et des 
				  commentaires constructifs pour les aider à réussir dans leur recherche de stage. Nous sommes 
				  également disponibles pour répondre à toutes 
				 vos questions et préoccupations tout au long du processus de postulation."
				</p>
			</details>
		</div>
		
	</div>
</div>

<script>
	// ...
	// extend: {
    //   keyframes: {
    //     fadeIn: {
    //       "0%": { opacity: 0 },
    //       "100%": { opacity: 100 },
    //     },
    //   },
    //   animation: {
    //     fadeIn: "fadeIn 0.2s ease-in-out forwards",
    //   },
    // },
    // ...
</script>
<br>


{{> footer}}

  </body>
</html>