{{> header-admin}}
<!-- component -->
<br>
<div class="flex items-center justify-center p-18">
  <form class="w-full max-w-lg" action="/gerantadmin/ajoute-gerantadmin" method="post">
    <div class="flex flex-wrap -mx-3 mb-4">
      <div class="w-full md:w-1/2 px-3 mb-4 md:mb-0">
        <label class="block uppercase tracking-wide text-xs font-bold mb-2" for="nom">
          Nom
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 border-black  dark:text-black border py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
          name="nom" id="nom" type="text" placeholder="Saisir le nom de stagiaire">
      </div>
      <div class="w-full md:w-1/2 px-3 mb-4 md:mb-0">
        <label class="block uppercase tracking-wide text-xs font-bold mb-2" for="prenom">
          Prenom
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 border-black  dark:text-black border py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
          name="prenom" id="prenom" type="text" placeholder="Saisir le prenom de stagiaire">
      </div>
      <div class="w-full md:w-1/2 px-3 mb-4 md:mb-0">
        <label class="block uppercase tracking-wide text-xs font-bold mb-2" for="email">
          email
        </label>
        <input
          class="appearance-none block w-full bg-gray-200 border-black  dark:text-black border py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
          name="email" id="email" type="email" placeholder="Saisir le email de stagiaire">
      </div>
  <div class="w-full md:w-1/2 px-3 mb-4 md:mb-0"></div>
      <button type="submit" class="px-5 py-1 bg-blue-500 hover:bg-amber-300 items-center">Envoye</button>
   
   </div>
  </form>
</div>

{{> footer-admin}}