
 <!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../public/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
</head>

<body class="bg-gradient-to-r from-indigo-500 via-indigo-400 to-green-300">
<div class="bg-green-100 border border-green-400 text-red-700 px-4 py-3 rounded relative" role="alert">
  <strong class="font-bold">Salut</strong><br>
  <span class="block sm:inline">A c'est que vous etre.</span>
  <div class="mt-4">
    <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mr-2">
     <a href="/inscript-stagiaire" >Stagiaire</a>
    </button>
    <button class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
      <a href=""> gérant</a>
    </button>

  </div>
</div>

</body>
</html>
