<!doctype html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="../public/css/main.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
        <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
    </head>


    {{>navbar }}

    <br>
    <section class="gradient-form h-full">
        <div class="container h-full p-5">
            <div class=" flex h-full flex-wrap items-center justify-center text-neutral-800 dark:text-neutral-200">
                <div class="w-full">
                    <div class="block rounded-lg bg-white shadow-lg dark:bg-neutral-800">
                        <div
                            class="g-0 lg:flex lg:flex-wrap">
                            <!-- Left column container-->
                            <div class="px-4 md:px-0 lg:w-6/12">
                                <div
                                    class="md:mx-6 md:p-12">
                                    <!--Logo-->
                                    <div class="text-center">
                                        <img src="/images/7b2ef8d698e5425aba4de9b447ebc11c (1).png" alt="" class=" mx-auto w-20">
                                       <br>
                                        <h4 class="mb-12 mt-1 pb-1 text-xl font-semibold">
                                            Bienvenue au
                                            <b>
                                                Interny</b>
                                        </h4>
                                    </div>
                                    <hr><br>

                                    <form method="POST" action="/register/inscription">
                                        <p class="mb-4 text-center">Veuillez vous créer un compte</p>
                                        <!--Username input-->
                                        <div class="relative mb-4 ">
                                            <p>Nom</p>
                                            <label for="nom" class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-blue-600  motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-neutral-200"></label>
                                            <input type="text" class="peer block min-h-[auto] w-full rounded border-0  px-3 py-[0.32rem] leading-[1.15] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-80  motion-reduce:transition-none dark:text-black dark:placeholder:text-neutral-900  bg-white" required name="nom" maxlength="16" id="nom" pattern="[A-Z][a-zA-Z ]*" minlength="3" placeholder="Saisir votre nom "/>

                                        </div>
                                        <!--prenom input-->
                                        <div class="relative mb-4">
                                            <p>Prénom</p>
                                            <label for="prenom" class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-black transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-blue-600  motion-reduce:transition-none dark:text-black dark:peer-focus:text-black"></label>
                                            <input type="text" class="peer block min-h-[auto] w-full rounded border-0  px-3 py-[0.32rem] leading-[1.15] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-80  motion-reduce:transition-none dark:text-black dark:placeholder:text-neutral-900  bg-white" id="prenom" maxlength="16" minlength="3" pattern="[A-Z][a-zA-Z ]*" required name="prenom" placeholder="Saisir votre prénom"/>
                                        </div>
                                       
                                        <!--prenom input-->
                                        <div class="relative mb-4">
                                            <p>Email</p>
                                            <label for="email" class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-900 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-blue-600  motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-neutral-200"></label>
                                            <input type="email" class="peer block min-h-[auto] w-full rounded border-0  px-3 py-[0.32rem] leading-[1.16] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-80  motion-reduce:transition-none dark:text-black dark:placeholder:text-neutral-900  bg-white" id="email" name="email"  maxlength="30" required placeholder="Saisir votre email"/>
                                        </div>
                                        <!--Password input-->
                                        <div class="relative mb-4">
                                            <p>Mot de passe</p>
                                            <label for="mot_pass" class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-blue-600  motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-neutral-200"></label>
                                            <input type="password" class="peer block min-h-[auto] w-full rounded border-0  px-3 py-[0.32rem] leading-[1.15] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-80  motion-reduce:transition-none dark:text-black dark:placeholder:text-neutral-900  bg-white" value="" id="mot_pass" minlength="8" name="mot_pass" required placeholder="Saisir votre mot de passe"/>
                                        </div>

                                        
                                        <!--confirme Password input-->
                                        <div class="relative mb-4">
                                            <p>Confirme Mot de passe</p>
                                            <label for="mot_passConfirm" class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-blue-600  motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-neutral-200"></label>
                                            <input type="password" class="peer block min-h-[auto] w-full rounded border-0  px-3 py-[0.32rem] leading-[1.15] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-80  motion-reduce:transition-none dark:text-black dark:placeholder:text-neutral-900  bg-white" name="mot_passConfirm" minlength="8" id="mot_passConfirm" required placeholder="Confirme votre mot de passe"/>
                                        </div>
                                        <!-- An element to toggle between password visibility -->
                                        <input type="checkbox" onclick="myFunction()">Show Password
                                        <!--roleinput-->
                                        <label for="type_util">Rôle</label>
                                        <select class="peer block min-h-[auto] w-full rounded border-0  px-3 py-[0.32rem] leading-[1.15] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-80  motion-reduce:transition-none dark:text-black dark:placeholder:text-neutral-900  bg-white" id="type_util" name="type_util" required>
                                            <option value="">Sélectionnez un rôle</option>
                                            <option value="stagiaire">stagiaire</option>
                                            <option value="gérant">gérant</option>
                                            <option value="admin">admin</option>
                                        </select>

                                        <br>
                                        <!--Submit button-->
                                        <div class="mb-12 pb-1 pt-1 text-center">
                                            <button type="submit" class="hover:bg-green-700 mb-3 inline-block w-full rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_rgba(0,0,0,0.2)] transition duration-150 ease-in-out hover:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:outline-none focus:ring-0 active:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)]" type="button" data-te-ripple-init data-te-ripple-color="light" style="  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593); ">
                                                Inscription
                                            </button>

                                            <!--Forgot password link-->
                                            <a href="#!">Mot de paase oublier?</a>
                                        </div>

                                        <!--Register button-->
                                        <div class="flex items-center justify-between pb-6">
                                            <p class="mb-0 mr-2">Accéder a votre compte</p>
                                            <button type="button" class="inline-block rounded border-2 border-danger px-6 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal text-danger transition duration-150 ease-in-out hover:border-danger-600 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-danger-600 focus:border-danger-600 focus:text-danger-600 focus:outline-none focus:ring-0 active:border-danger-700 active:text-danger-700 dark:hover:bg-green-500 dark:hover:bg-opacity-5" data-te-ripple-init data-te-ripple-color="light">
                                                <a href="login">Connexion</a>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <!-- Right column container with background and description-->
                            <div class="flex items-center rounded-b-lg lg:w-6/12 lg:rounded-r-lg lg:rounded-bl-none  " style="background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593)">
                                <div class="px-4 py-6 text-white md:mx-6 md:p-12">
                                    <h4 class="mb-6 text-2xl font-semibold">
                                        Formulaire d'inscription : Devenez membre et accédez à des avantages exclusifs !
                                    </h4>
                                    <hr><br>
                                    <p class="text-l">
                                        <b>
                                            Bienvenue sur notre site web !</b>
                                        Nous sommes ravis de vous accueillir sur notre plateforme et nous espérons que vous trouverez les informations et les produits que vous recherchez.
                                    </p><br>
                                    <p class="text-l">
                                        Pour accéder à toutes les fonctionnalités de notre site web, nous vous invitons à vous inscrire en remplissant le formulaire d'inscription disponible sur notre page dédiée. Cette inscription est gratuite et ne prend que quelques minutes.
                                    </p>
                                    <br>
                                    <p class="text-l">
                                        Une fois que vous aurez rempli le formulaire d'inscription, vous pourrez vous connecter à votre compte en utilisant votre adresse email et votre mot de passe. Vous aurez alors accès à votre profil personnel où vous pourrez gérer vos informations personnelles, vos commandes et vos préférences.
                                    </p>
                                    <br>
                                    <p class="text-l">
                                        Nous attachons une grande importance à la protection de vos données personnelles et nous nous engageons à respecter votre vie privée. Vos informations seront utilisées uniquement dans le cadre de votre inscription et ne seront pas transmises à des tiers sans votre consentement.
                                    </p>
                                    <br>
                                    <p class="text-l">
                                        Nous vous remercions de votre confiance et nous sommes impatients de vous compter parmi nos membres.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><br><br>{{> footer}}
    <script>
        function myFunction() {
  var x = document.getElementById("mot_pass");
   var t = document.getElementById("mot_passConfirm");
  if (x.type === "password") {
    x.type = "text";
    t.type = "text";
  } else {
    x.type = "password";
    t.type = "password";
  }
}

    </script>
    <script>
function validatePassword() {
  var password = document.getElementById("mot_pass").value;
  var confirmPassword = document.getElementById("mot_passConfirm").value;
  
  
  
  if (password !== confirmPassword) {
    alert("Les mots de passe ne correspondent pas.");
    return false;
  }
  
  return true;
}
</script>
</body></html>
