
  <!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/images/">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
</head>
{{> navbar}}
    <div class="container mx-auto px-4">
      <div class="mt-8 mb-6">
        <h1 class="text-3xl font-bold text-gray-900">Politique de confidentialité</h1>
      </div>
      <div class="mb-6">
        <p class="text-gray-900">Notre engagement envers la vie privée de nos utilisateurs<br>

Nous prenons la vie privée de nos utilisateurs très au sérieux. Cette politique de confidentialité décrit comment nous collectons, utilisons et protégeons les informations que vous nous fournissez.</p>
      </div>
      <div class="mb-6">
        <h2 class="text-2xl font-bold text-gray-900">Collecte d'informations</h2>
        <p class="text-gray-900"> Nous collectons des informations vous concernant lorsque vous vous inscrivez sur notre site, remplissez un formulaire ou participez à une enquête. Lors de l'inscription sur notre site, il vous sera demandé de fournir votre nom, votre adresse e-mail, votre adresse postale, votre numéro de téléphone et d'autres informations pertinentes.</p>
      </div>
      <div class="mb-6">
        <h2 class="text-2xl font-bold text-gray-900">Utilisation des informations</h2>
        <p class="text-gray-900">Utilisation des informations: <br> Pour personnaliser votre expérience sur notre site<br>Pour améliorer notre site<br> Pour traiter les transactions<br> Pour envoyer des e-mails périodiques</p>
      </div>
      <div class="mb-6">
        <h2 class="text-2xl font-bold text-gray-900">Divulgation à des tiers</h2>
        <p class="text-gray-900">Nous ne vendons, n'échangeons ni ne transférons vos informations personnelles à des tiers. Cela ne comprend pas les tiers de confiance qui nous aident à exploiter notre site web, à mener nos affaires ou à vous servir, tant que ces parties conviennent de garder ces informations confidentielles.</p>
      </div>
      <div class="mb-6">
        <h2 class="text-2xl font-bold text-gray-900">Utilisation de cookies</h2>
        <p class="text-gray-900">Nous utilisons des cookies pour comprendre et enregistrer vos préférences pour les visites futures, pour suivre les publicités et pour compiler des données sur le trafic et les interactions du site afin d'améliorer l'expérience du site à l'avenir.</p>

 </div>
    </div>
        {{> footer}}

       </body>
       </html>