
  <!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/images/">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
</head>
{{> navbar}}
    <div class="container mx-auto px-4">
      <div class="mt-8 mb-6">
        <h1 class="text-3xl font-bold text-gray-900">Définissez vos objectifs </h1>
      </div>
      <div class="mb-6">
        <p class="text-gray-900"> avant de commencer à chercher un stage, réfléchissez à ce que vous voulez obtenir de cette expérience. <br>

Quels sont vos objectifs professionnels et comment le stage peut-il vous aider à les atteindre ?</p>
      </div>
      <div class="mb-6">
        <h2 class="text-2xl font-bold text-gray-900">Identifiez les entreprises qui correspondent à vos intérêts </h2>
        <p class="text-gray-900">  faites des recherches sur les entreprises qui offrent des stages dans votre domaine d'intérêt.</p>
      </div>
      <div class="mb-6">
        <h2 class="text-2xl font-bold text-gray-900">Personnalisez votre candidature</h2>
        <p class="text-gray-900">pour chaque entreprise que vous contactez<br> personnalisez votre description , votre compétances  pour répondre aux besoins spécifiques de l'entreprise.<br> Pour envoyer des e-mails périodiques</p>
      </div>
    
    </div>
        {{> footer}}

       </body>
       </html>